apiVersion: apps/v1
kind: Deployment
metadata:
  name: vault-core
  namespace: dutytracker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vault
  template:
    metadata:
      labels:
        app: vault
    spec:
      containers:
      - name: vault
        image: hashicorp/vault:1.15
        ports:
        - containerPort: 8200
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 512Mi
        env:
        - name: VAULT_DEV_ROOT_TOKEN_ID
          value: "playe-absolute-zero-token"
        - name: VAULT_DEV_LISTEN_ADDRESS
          value: "0.0.0.0:8200"
        securityContext:
          capabilities:
            add:
              - IPC_LOCK
---
apiVersion: v1
kind: Service
metadata:
  name: vault-service
  namespace: dutytracker
spec:
  type: ClusterIP
  selector:
    app: vault
  ports:
    - protocol: TCP
      port: 8200
      targetPort: 8200
