apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow-server
  namespace: dutytracker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlflow
  template:
    metadata:
      labels:
        app: mlflow
    spec:
      containers:
      - name: mlflow
        image: ghcr.io/mlflow/mlflow:v2.8.1
        ports:
        - containerPort: 5000
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 512Mi
        command:
          - mlflow
          - server
          - --host=0.0.0.0
          - --port=5000
          - --backend-store-uri=cockroachdb+asyncpg://root@playe-db-cockroachdb-public:26257/defaultdb
          - --default-artifact-root=/mlflow-artifacts
---
apiVersion: v1
kind: Service
metadata:
  name: mlflow-service
  namespace: dutytracker
spec:
  type: ClusterIP
  selector:
    app: mlflow
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
